.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid var(--poke-item-header-color);
  border-top-color: transparent;
  animation: rotate 1s infinite linear;
}
.loader-wrapper {
  text-align: center;
  padding: 3em 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
